<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Notificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Detalle</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Dispositivo</h2>
        <p>
          {{data.device}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Fecha registrada del evento</h2>
        <p>
          {{getDate(data.date) | date:'yyyy-MM-dd hh:mm:ss'}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Descripcion</h2>
        <p>
          {{data.description}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
