<!--
<ion-header>

</ion-header>

 <ion-content padding>
  <form
    class="form"
    [formGroup]="validations_form"
    (ngSubmit)="loginUser(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="primary">Correo</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        class="form-controll"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button
      class="submit-btn"
      type="submit"
      [disabled]="!validations_form.valid"
      >Ingresar</ion-button
    >

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    ¿No tienes cuenta? <a (click)="goToRegisterPage()">Crear una cuenta</a>
  </p>
</ion-content>
 -->
<ion-content class="page-background-image">
  <ion-grid style="background: none;">
    <img src="assets/images/wellcome.png">
    <form
      class="form page-background-image"
      [formGroup]="validations_form"
      (ngSubmit)="loginUser(validations_form.value)"
      style="padding-top: 50px;"
    >
      <ion-row justify-content-center style="background: none;">
        <ion-col
          align-self-center
          size-md="6"
          size-lg="5"
          size-xs="12"
          style="background: none;"
        >
          <div text-center>
            <h4></h4>
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating" color="primary">Correo</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validation_messages.email"
              >
                <div
                  class="error-message"
                  *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
                >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating" color="primary"
                >Contraseña</ion-label
              >
              <ion-input
                type="password"
                formControlName="password"
                class="form-controll"
                required
              ></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validation_messages.password"
              >
                <div
                  class="error-message"
                  *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
                >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <br>
          <br>
          <div padding>
            <ion-button
              expand="block"
              class="submit-btn"
              type="submit"
              [disabled]="!validations_form.valid"
              style="margin: auto;"
              >Ingresar
            </ion-button>

            <label class="error-message">{{errorMessage}}</label>
          </div>

          <div padding>
            <p class="go-to-register" style="text-align: center;">
              ¿No tienes cuenta?
              <a (click)="goToRegisterPage()">Crear una cuenta</a>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
