<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="lock"></ion-icon>
      <ion-label>Cotrol</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="swicth"></ion-icon>
      <ion-label>Dispositivos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
