<ion-content>
  <ion-card style="margin: 0px; border-radius: 0px;">
    <ion-img
      [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSwE3dpZqHMO0bRjknxbnXewMwBw29QzAp3z6w7i6XPULK3quOe'"
    >
    </ion-img>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Lista de Notificaciones</ion-label>
    </ion-list-header>
    <ng-container *ngIf="!events || events.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item
      *ngFor="let item of events"
      routerLink="/detailnotification/{{item.id}}"
      routerDirection="forward"
    >
      <ion-label class="ion-text-wrap">
        <h2>Dispositivo {{item.device}}</h2>
        <p>
          {{item.description}}
          <span style="float:right"
            >{{getDate(item.date) | date:'yyyy-MM-dd hh:mm:ss'}}</span
          >
        </p>
      </ion-label>
      <ion-icon slot="start" name="text"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
