<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <form #formCtrl="ngForm">
    <div align="center">

      <img class="profile-image" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      <h4>Tonny Oncebay</h4>
      <h5>Calle las piedritas</h5>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>Nombres</ion-label>
        <ion-input type="text" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Direccion</ion-label>
        <ion-input type="text" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime required name="birthdate" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
      </ion-item>

    </ion-list>
    <ion-row>
      <ion-col size="3">
        <ion-button color="danger">Cancelar</ion-button>
      </ion-col>
      <ion-col size="3" offset="3">
        <ion-button color="success">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>