<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="saveData()">

        <ion-item>
            <ion-icon name="phone-portrait" item-start></ion-icon>
            <ion-label stacked>Nombres del dispositivo:</ion-label>
          </ion-item>
          <ion-item>       
             <ion-input formControlName="name" type="text" placeholder="Dispositivo"></ion-input>
          </ion-item>
          <p></p>
          <ion-item>
            <ion-icon name="calculator" item-start></ion-icon>
            <ion-label stacked>Codigo del producto:</ion-label>
          </ion-item>
          <ion-item>
              <ion-input formControlName="lastName" type="text" placeholder="codigo del producto"></ion-input>
          </ion-item>
          <p></p>
          <ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            <ion-label stacked>Detalle de sensor:</ion-label>
          </ion-item>
          <ion-item>
              <ion-input formControlName="email" type="email" placeholder="Sensor"></ion-input>
          </ion-item>
          <p></p>
          <ion-item>
            <ion-label>Tareas:</ion-label>
            <ion-select value="add-circle" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">Vigilar Carro</ion-select-option>
              <ion-select-option value="blonde">Activar Alarma</ion-select-option>
              <ion-select-option value="black">Desactivar alarma</ion-select-option>
            </ion-select>
          </ion-item>
          
          
        <div padding>
          <button ion-button block type="submit" [disabled]="!myForm.valid">Guardar</button>
        </div>

    </form>

</ion-content>
