<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="todo">
      <ion-input required type="text" placeholder="Nombre del dispositivo" [(ngModel)]="todo.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-input required type="text" placeholder="Numero de serie" [(ngModel)]="todo.serial_number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Guardar</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger" (click)="onRemoveTodo(todoId)" routerLink="/home/tabs/tab3"
      routerDirection="forward">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>